
<div class="container">
  <div class="quiz-header">
  <a type="button" class="quiz-close" href="courses/{{courseId}}/quizzes"><i class="fa fa-close"></i></a>
<h2 class="quiz-title">Quiz</h2>
  </div>
  <br>
  <div *ngFor="let question of questions" >
    <div [ngSwitch]="question.type">
      <app-multiple-choice-question
        [question]="question"
        *ngSwitchCase="'MULTIPLE_CHOICE'"></app-multiple-choice-question>
      <app-true-false-question
        [question]="question"
        *ngSwitchCase="'TRUE_FALSE'"></app-true-false-question>
    </div>
  </div>
</div>



