.wbdv-close-viewer{
  margin-left: 15px;
  display: inline-block;
  font-size: 25px;
  color: darkred;

}
.wbdv-course-viewer{
  padding-left: 10px;
  display: inline-block;
  color: white;
  padding-top: 10px;
}

.wbdv-viewer-header{
  height: 50px;
  width:100%;
  background-color: #1E90FF;
}


.wbdv-module-title{
  padding-top: 20px;
}
.wbdv-lesson-title{
  padding-top: 20px;
  padding-left: 10px;
}

