.wbdv-close-table{
  margin-left: 15px;
  display: inline-block;
  font-size: 25px;
  color: darkred;

}
.wbdv-close-table:hover{
  margin-left: 15px;
  display: inline-block;
  font-size: 25px;
  color: black;

}
.wbdv-course{
  padding-left: 10px;
  display: inline-block;
  color: white;
  padding-top: 10px;
}
.wbdv-table-header{
  height: 50px;
  width:100%;
  background-color: #1E90FF;

}
.wbdv-course-table{
  padding: 10px;

}
.wbdv-course-title:hover{
  background-color: #ccebff;
  color: white;

}
